{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="/assets/css/home.css" rel="stylesheet">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section id="heroHeader">
        <img src="/assets/images/Hero_banner.jpg" alt="Hero Banner">
    </section>

    <main>
        <section class="Encours">
            <h3>Artiste du moment</h3>
            <div class="container-fluid">
                <div class="row">
                    {% for i in 1..5 %}
                        <div class="col">
                            <div class="profile-card"><img src="/assets/images/artiste1.webp" alt="Artiste Image">
                                <div class="profile-name">JOHN DOE</div>
                                <div class="profile-username">@johndoesurname</div>
                                <a href="/profile/test" class="stretched-link"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="Encours">
            <h3>Dernière Créations</h3>
            <div class="container-fluid">
                <div class="row">
                    {% for i in 1..5 %}
                        <div class="col">
                            <div class="profile-card"><img src="/assets/images/News-anime.jpg" alt="Création Image">
                                <div class="profile-name">JOHN DOE</div>
                                <div class="profile-username">@johndoesurname</div>
                                <a href="/profile/test" class="stretched-link"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}