{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="/assets/css/creations.css" rel="stylesheet">
{% endblock %}

{% block title %}Creations{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="hero-container">
                <h1>Creations</h1>
                <img src="../assets/images/bg1.jpg">
            </div>

            <div class="body_news">
                <div>
                    <h1 class="body_news-anime-title">News : Creations</h1>
                    <div class="container-fluid">
                        <div class="row">
                            {% for i in 1..5 %}
                                <div class="col">
                                    <div class="profile-card">
                                        <img src="/assets/images/artiste1.webp" alt="Artiste Image">
                                        <div class="profile-name">JOHN DOE</div>
                                        <div class="profile-username">@johndoesurname</div>
                                        <a href="/profile/test" class="stretched-link"></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h1 class="title-anime">Creations</h1>
                <div class="tri-manager">
                    <form method="get" action="">
                        <select name="Type">
                            <option value="" selected disabled>Type</option>
                            <option value="Science-Fiction & Fantastique">Science-Fiction & Fantastique</option>
                            <option value="Action & Adventure">Action & Adventure</option>
                            <option value="Comédie">Comédie</option>
                            <option value="Drame">Drame</option>
                            <option value="Mystère">Mystère</option>
                        </select>

                        <select name="Tri">
                            <option value="" selected disabled>Tri</option>
                            <option value="Note - Croissant">Note - Croissant</option>
                            <option value="Note - Décroissant">Note - Décroissant</option>
                            <option value="Nom - Croissant">Nom - Croissant</option>
                            <option value="Nom - Décroissant">Nom - Décroissant</option>
                        </select>
                    </form>
                    <div class="views-option">
                        <a onclick="togglelist()"><i class="fa-solid fa-table-list"></i></a>
                        <a onclick="toggleth()"><i class="fa-solid fa-table-cells-large"></i></a>
                    </div>
                </div>

                <div class="block-views" id="thviews">
                    <ul>
                        {% for i in 1..10 %}
                            <li>
                                <img src="/assets/images/artiste1.webp" alt="Artiste Image">
                                <h2>Nom Creations</h2>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="list-views" id="listviews">
                    <ul>
                        {% for i in 1..10 %}
                            <li>
                                <div class="body_news-anime-item-box">
                                    <img src="/assets/images/artiste1.webp" alt="Artiste Image">
                                    <div class="title-vignette">Nom Creations</div>
                                    <div>
                                        <a class="btn" href="/profile/test">Voir plus</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="data-pagination">
                    <ul>
                        <li class="prev"><a href="#">Précédent</a></li>
                        <li class="current">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">Suivant</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <script type="application/javascript">
        /* Toggle Views */
        function togglelist() {
            document.getElementById("listviews").style.display = "block";
            document.getElementById("thviews").style.display = "none";
        }

        function toggleth() {
            document.getElementById("thviews").style.display = "block";
            document.getElementById("listviews").style.display = "none";
        }
        /* Toggle Views */
    </script>
{% endblock %}