
@font-face {
  font-family: Milkshake;
  src: url("font/Milkshake.otf");
}

@font-face {
  font-family: Christmas Bell;
  src: url("font/Christmas Bell - Personal Use.otf");
}

@font-face {
  font-family: Gilroy;
  src: url("font/Gilroy-Medium.otf");
}

@font-face {
  font-family: AdobeCleanUX;
  src: url("font/AdobeCleanUXBold.woff") format("woff"), url("font/AdobeCleanUXLight.woff") format("woff"), url("font/AdobeCleanUXMedium.woff") format("woff"), url("font/AdobeCleanUXRegular.woff") format("woff"), url("font/AdobeCleanUXSemiLight.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: AdobeCleanUX;
  vertical-align: baseline;
  list-style: none;
  color: var(--text-color);
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* Color */
  --bg-color: #161616;
  --bg-gray-color: #979797;
  --text-color: #e0e0e0;
  --gray: #8d8d8d;
  --brand-color: #fff;
  --white: #fff;
  /* Color */
}

[data-theme="light-theme"] {
  --bg-color: #cfd8dc;
  --text-color: #212121;
  --brand-color: #fff;
}

body {
  background-color: var(--bg-color) !important;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

main{
    margin-top: 88px;
}

.profile-card {
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all linear 0.25s;
}

.profile-card img {
  transition: all linear 0.25s;
  width: 100%;
  height: auto;
}

.profile-card .profile-name,
.profile-card .profile-username,
.profile-card .profile-icons {
  position: absolute;
  color: #FFF;
  transition: all linear 0.25s;
}

.profile-card .profile-name {
  left: 30px;
  bottom: 70px;
  font-size: 30px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.profile-card .profile-username {
  left: 30px;
  bottom: 50px;
  font-size: 13px;
}

.profile-card .profile-icons {
  bottom: 30px;
  right: 30px;
}

.profile-card .profile-icons .fa {
  margin: 5px;
}

.profile-card:hover img {
  filter: grayscale(100%);
}

.profile-card:hover .profile-name {
  bottom: 80px;
}

.profile-card:hover .profile-username {
  bottom: 60px;
}

.profile-card:hover .profile-icons {
  right: 40px;
}

.Encours .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Encours .col {
  flex: 1 1 20%;
  max-width: 20%;
  box-sizing: border-box;
}

#profile-avatar {
  width: 66px;
  height: 66px;
  border: 4px solid var(--red);
  border-radius: 50%;
  background-size: 100% !important;
  cursor: pointer;
}

.profile-dropdown {
  position: relative;
}

.profile-dropdown input[type="checkbox"] {
  display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
  display: block;
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~label:after {
  content: '';
  position: absolute;
  top: 100%;
  right: calc(50% - 10px);
  display: block;
  border-style: solid;
  border-width: 7px 10px 0 10px;
  border-color: orange transparent transparent transparent;
  width: 0;
  height: 0;
}

.profile-dropdown ul {
  display: none;
  background: #C4C4C4;
  position: absolute;
  top: 110%;
  left: -45px;
  width: 8vw;
  border-radius: 10px;
  z-index: 1000;
}

.profile-dropdown ul li a {
  display: block;
  padding: 0.75rem 1rem;
  text-align: center;
}

header>nav>div:nth-child(4)>label>ul>li>a>p {
  color: #8d8d8d;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.profile-dropdown ul li a i {
  font-size: 1.3rem;
  vertical-align: middle;
  margin: 0 0.75rem 0 -0.25rem;
}

.profile-dropdown ul li a:hover {
  background: #e5e5e5;
}

header>nav>label>ul>li:nth-child(1)>a:hover {
  border-radius: 10px 10px 0 0;
}

header>nav>label>ul>li:nth-child(3)>a:hover {
  border-radius: 0 0 10px 10px;
}

.profile-dropdown>label {
  position: relative;
  height: 3.5rem;
  display: block;
  background: transparent;
  color: #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.9rem;
  float: right;
  border-radius: 0 3px 3px 0;
}

.profile-dropdown>label i {
  color: #b2b2b2;
  font-size: 1.75rem;
}

.profile-dropdown:after {
  content: '';
  display: table;
  clear: both;
}

@media (max-width: 1200px) {
  .Encours .col {
    flex: 1 1 25%;
    max-width: 25%;
  }
}

@media (max-width: 992px) {
  .Encours .col {
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 768px) {
  .Encours .col {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .Encours .col {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

