<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %} - ArtistePlaceAuPro</title>
    <link rel="stylesheet" href="../assets/scss/vendors/plugin/css/jquery-ui.css" />
    <link rel="stylesheet" href="../assets/css/dist/main.css" />
    <link rel="icon" type="image/png" href=../assets/css/distimages/favicon/favicon.png" />
</head>

<body style="background-color: #ebebf2;" onload="loader()">
    <div class="loader">
        <span class="loader-spinner">Loading...</span>
    </div>
    <!-- Header Starts Here -->
    <header>
        <nav class="navbar navbar-expand-xl navbar-light bg-transparent">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="/student">
                    <img src="../assets/css/dist/images/logo/logo.png" alt="Logo" class="img-fluid" />
                </a>

                <button class="menu-icon-container">
                    <span class="menu-icon"></span>
                </button>

                <!-- Navbar Item -->
                <div class="collapse navbar-collapse d-none d-xl-block" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/student">
                                Cours
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center rightContent rightContent-2">
                        <div class="user-image ms-3">
                            <a href="#">
                                <img src="../{{ app.user.avatarUrl }}" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-mobile">
                    <div>
                        <div class="navbar-mobile__top">
                            <a href="/student">
                                <img src="../assets/css/dist/images/logo/logo.png" alt="brand" class="img-fluid" />
                            </a>
                        </div>
                        <div class="navbar-mobile__menu">
                            <ul class="navbar-mobile__menu-list">
                                <li class="navbar-mobile__menu-item">
                                    <a href="/student">
                                        <span class="navbar-mobile__menu-link"> Accueil </span>
                                    </a>
                                </li>
                                <li class="active navbar-mobile__menu-item">
                                    <a href="/student">
                                        <span class="navbar-mobile__menu-link"> Cours </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% block body %}{% endblock %}

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/scss/vendors/plugin/js/isotope.pkgd.min.js"></script>
    <script src="../assets/scss/vendors/plugin/js/jquery.magnific-popup.min.js"></script>
    <script src="../assets/scss/vendors/plugin/js/slick.min.js"></script>
    <script src="../assets/scss/vendors/plugin/js/jquery.nice-select.min.js"></script>
    <script src="../assets/scss/vendors/plugin/js/price_range_script.js"></script>
    <script src="../assets/scss/vendors/plugin/js/jquery-ui.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/css/dist/main.js"></script>
    <script>
        const filterBtn = document.querySelector("#filter");
        const cross = document.querySelector(".filter--cross");

        filterBtn.addEventListener("click", function () {
            let sidebar = document.querySelector(".filter-sidebar");
            sidebar.classList.toggle("active");
        });

        cross.addEventListener("click", function () {
            let sidebar = document.querySelector(".filter-sidebar");
            sidebar.classList.remove("active");
        });
    </script>
</body>
</html>
