<footer>
    <div class="footer-links">
        <ul>
            <li>
                <a class="footer-nav" href="../"><h4>BD</h4></a>
            </li>
            <li>
                <a class="footer-nav" href=""><h4>Créations</h4></a>
            </li>
            <li>
                <a class="footer-nav" href="../anime"><h4>Artiste</h4></a>
            </li>
            <li>
                <a class="footer-nav" href="#"><h4>À propos</h4></a>
            </li>
        </ul>
    </div>
    <div class="footer-icon">
        <a id="discord" href="https://discord.com/invite/yqtTFmH" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
    </div>
    <div>
        <p>
            Copyright © 2024 Artiste PlaceAuPro. Tous droits réservés.
        </p>
    </div>
</footer>
</body>
</html>