{% extends 'layout.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Error{% endblock %}

{% block content %}
    <section class="hero-without-image">
        <div class="container">
            <div class="hero-wrapper-two"><img src="../assets/images/Hero-text.svg" loading="lazy" width="656" alt="" class="image"></div>
        </div>
    </section>
    <section class="section-3">
        <div class="main">
            <div class="artistedumoment">
                <h1 class="heading-3">Artistes Du Moment</h1>
                <div class="w-layout-grid grid">
                    <div id="w-node-_44f5fca2-fbee-a87b-4e62-f902ac4b0864-5ed0f8f5" class="div-block-4"><img src="assets/images/zmlpnjbq.png" loading="lazy" id="w-node-bd8f7e90-ab8d-7bac-3f8d-5bb7f4493443-5ed0f8f5" alt="" class="image-2">
                        <div class="text-block">Yūki Kaji</div>
                    </div>
                    <div id="w-node-_43e4a7cf-d7c0-06de-6e38-00c9128c8ddd-5ed0f8f5" class="div-block-4"><img src="assets/images/zmlpnjbq.png" loading="lazy" id="w-node-_43e4a7cf-d7c0-06de-6e38-00c9128c8dde-5ed0f8f5" alt="" class="image-2">
                        <div class="text-block">Yūki Kaji</div>
                    </div>
                    <div id="w-node-bfe3479f-1961-7436-3781-be1cfffa073f-5ed0f8f5" class="div-block-4"><img src="assets/images/zmlpnjbq.png" loading="lazy" id="w-node-bfe3479f-1961-7436-3781-be1cfffa0740-5ed0f8f5" alt="" class="image-2">
                        <div class="text-block">Yūki Kaji</div>
                    </div>
                    <div id="w-node-_59627a03-6063-e515-4d47-85e51d0390fa-5ed0f8f5" class="div-block-4"><img src="assets/images/zmlpnjbq.png" loading="lazy" id="w-node-_59627a03-6063-e515-4d47-85e51d0390fb-5ed0f8f5" alt="" class="image-2">
                        <div class="text-block">Yūki Kaji</div>
                    </div>
                    <div id="w-node-d4e2d6bd-7b5e-958c-d32b-23a19246b007-5ed0f8f5" class="div-block-4"><img src="assets/images/zmlpnjbq.png" loading="lazy" id="w-node-d4e2d6bd-7b5e-958c-d32b-23a19246b008-5ed0f8f5" alt="" class="image-2">
                        <div class="text-block">Yūki Kaji</div>
                    </div>
                </div>
            </div>
            <div class="div-block"></div>
            <div class="artistedumoment">
                <h1 class="heading-3">Dernière Création</h1>
                <div class="w-layout-grid grid">
                    <div id="w-node-ab875b5e-6bde-c7ad-b470-64899234d789-5ed0f8f5" class="div-block-4"><img src="assets/images/creation.png" loading="lazy" id="w-node-ab875b5e-6bde-c7ad-b470-64899234d78a-5ed0f8f5" alt="" class="image-2"></div>
                    <div id="w-node-_82960939-c310-2b58-9d23-f0fdcabfe9ab-5ed0f8f5" class="div-block-4"><img src="assets/images/creation.png" loading="lazy" id="w-node-_82960939-c310-2b58-9d23-f0fdcabfe9ac-5ed0f8f5" alt="" class="image-2"></div>
                    <div id="w-node-_741a75d9-fc7b-96e2-4362-2bb5ad26a9d8-5ed0f8f5" class="div-block-4"><img src="assets/images/creation.png" loading="lazy" id="w-node-_741a75d9-fc7b-96e2-4362-2bb5ad26a9d9-5ed0f8f5" alt="" class="image-2"></div>
                    <div id="w-node-_56f32393-c18e-9471-8dd3-8ae6eebb3342-5ed0f8f5" class="div-block-4"><img src="assets/images/creation.png" loading="lazy" id="w-node-_56f32393-c18e-9471-8dd3-8ae6eebb3343-5ed0f8f5" alt="" class="image-2"></div>
                    <div id="w-node-_7175eabf-3e2a-2b5e-4ef1-4053cab0b2ca-5ed0f8f5" class="div-block-4"><img src="assets/images/creation.png" loading="lazy" id="w-node-_7175eabf-3e2a-2b5e-4ef1-4053cab0b2cb-5ed0f8f5" alt="" class="image-2"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}